.container {
	border: 1px solid black;
	width: 500px;
	height: 500px;
	padding: 30px;
	background-color: grey;
	border-radius: 80px;
}


.box {
	width: 175px;
	height: 175px;
	border: 1px solid black;
	margin: 20px;
	float: left;
	opacity: .25;
	border-radius: 40px;
	box-shadow: 10px 10px 10px #111;
}

#red {
	background-color: red;
}

#blue {
	background-color: blue;
}

#green {
	background-color: green;
}

#yellow {
	background-color: yellow;
}